# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-preload-cache/
.pub-cache/
.pub/
build/
/build/
/coverage/

# Environment / Secrets
.env
.env.*
!.env.example

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/assets/
*.mode1v3
*.mode2v3
*.storyboardc
*.xccheckout
**/ios/**/xcuserdata/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/GeneratedPluginRegistrant.h
**/macos/Flutter/GeneratedPluginRegistrant.m
**/macos/Flutter/generated_plugins.cmake
**/macos/Pods/
**/macos/.symlinks/
**/macos/**/xcuserdata/

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugins.cmake
**/windows/flutter/CMakeLists.txt.user

# Linux related
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugins.cmake
